.form-control.is-invalid {
  border-color: #dc3545;
}
.btn-xxs {
  padding: 3px 5px;
  font-size:12px;
}
.vue-treeselect__control {
  border-radius: 3px !important;
}
.has-padding {
  padding: 0px;
  padding-top: 0px !important;
}